
@{
    ViewData["Title"] = "Для разработчика";
}

<h1 class="mb-lg-5">Страница разработчика</h1>

<a asp-area="admin" asp-controller="DevMode" asp-action="AddGames" class="btn btn-outline-success">Добавить игры в базу данных</a>