@model HomeDataModel
<div class="modal fade modal-js" id="modalAddToShoppingCart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Добавление в корзину</h5>
            </div>

            <div class="modal-body">
                <div class="ordercart">
                    <div class="ordergameinfo d-flex shadow">
                        <div class="s_gameposter">
                            @Html.Raw("<img  src=\"data:image/png;base64,"
                                     + Convert.ToBase64String(Model.Game.Poster) + "\" />")
                        </div>
                        <div class="s_gameinfo">
                            <h5>@Model.Game.Name</h5>
                            <p><b>Цена:</b> @((Model.Game.IsShare is true) ? Model.Game.SharePrice : Model.Game.Price) BYN</p>
                        </div>
                    </div>
                </div>
            </div>
            <form id="addToShoppingCartForm" asp-controller="" asp-action="" method="post">

                @*  *@
                <div class="modal-body">
                <div class="form-group">
                    <label> Выберите платформу: *</label>
                    <select asp-for="PlatformId" asp-items = "Model.SelectItemsPlatforms" class="form-select js-single">
                        <option selected disabled></option>
                     
                    </select>
                    <span asp-validation-for="PlatformId" class="validError"></span>
                </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnBackFromCreateEditMode" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                    <button type="submit" class="btn btn-outline-success">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>