<div class="reviwsArea d-flex borderS mb-2 p-2">
    <div class="revUserAvatar">
        <img src="~/img/useravatars/user.jpg" alt="user.jpg" class="rounded-circle" />
    </div>
    <div class="w-100 ms-2">
        <div class="row w-100 h5">
            <div class="col">deeLimpay</div>
            <div class="col text-end">14.02.2025 / изм. 15.02.2025 </div>
        </div>
        <div class="row w-100">
            <div class="col-12 reviewsTxt">Самый крутой отзыв об этой игре Самый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игреСамый крутой отзыв об этой игре</div>
        </div>

        <div class="row w-100">
            <div class="col-12 d-flex justify-content-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Редактировать"><i class="fa-solid fa-pencil"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Удалить"><i class="fa-solid fa-trash-can"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Пожаловаться"><i class="fa-solid fa-flag"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
