<div class="progress custom-progress">
    <div class="progress-bar progress-bar-positive" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar progress-bar-negative" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="legend">
    <div class="legend-item">
        <div class="legend-circle positive"></div>
        <span>Положительные отзывы - 65%</span>
    </div>
    <div class="legend-item">
        <div class="legend-circle negative"></div>
        <span>Отрицательные отзывы - 35%</span>
    </div>
</div>