@{
    ViewData["Title"] = "Главная страница";
}

@section js{

}

@* СЛАЙДЕР *@
<div class="row">
    @await Html.PartialAsync("_Partial.Index.Slider")
</div>

@* БЛОКИ *@
<div class="row mt-5 mb-3">
    @* БЛОК НОВИНКИ *@
    <div class="col-md-4">
        <h2 class="text-center  titleText shadow">Новинки</h2>
        <div class="game mt-5 mb-3 mx-auto borderS">

                <div class="text-center">
                    <img src="~/img/gamesposters/2077.png" />
                </div>

                <div class="text-center">
                    <h4><a href="#">Наименование игры</a></h4>
                </div>

                <div class="m-1">
                    <p>Описание очень большое описание игры аааааа допустим вот такое игры модет даже больше</p>
                </div>

                <div class="d-flex flex-wrap">
                    <div class="bg-secondary m-1 h6 p-1 text-white">Action</div>
                    <div class="bg-secondary m-1 h6 p-1 text-white">RPG</div>
                </div>

                <div class="d-flex flex-wrap  h5">
                    <div class="m-1 p-1"><s>74</s> 66 BYN</div>
                    <div class="btn-group mx-auto mb-3  float-end">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить в список желаемого"><i class="fas fa-star"></i></button>
                        <button type="button" class="btn btn-success">В Корзину</button>
                    </div>
                </div>

            </div>

        @* ПОТОМ ДЕЛИТНУТЬ *@
        <div class="game mt-5 mb-3 mx-auto borderS">

                <div class="text-center">
                    <img src="~/img/gamesposters/2077.png" />
                </div>

                <div class="text-center">
                    <h4><a href="#">Наименование игры</a></h4>
                </div>

                <div class="m-1">
                    <p>Описание очень большое описание игры аааааа допустим вот такое игры модет даже больше</p>
                </div>

                <div class="d-flex flex-wrap">
                    <div class="bg-secondary m-1 h6 p-1 text-white">Action</div>
                    <div class="bg-secondary m-1 h6 p-1 text-white">RPG</div>
                </div>

                <div class="d-flex flex-wrap  h5">
                    <div class="m-1 p-1"><s>74</s> 66 BYN</div>
                    <div class="btn-group mx-auto mb-3  float-end">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить в список желаемого"><i class="fas fa-star"></i></button>
                        <button type="button" class="btn btn-success">В Корзину</button>
                    </div>
                </div>

            </div>

        <div class="game mt-5 mb-3 mx-auto borderS">

            <div class="text-center">
                <img src="~/img/gamesposters/2077.png" />
            </div>

            <div class="text-center">
                <h4><a href="#">Наименование игры</a></h4>
            </div>

            <div class="m-1">
                <p>Описание очень большое описание игры аааааа допустим вот такое игры модет даже больше</p>
            </div>

            <div class="d-flex flex-wrap">
                <div class="bg-secondary m-1 h6 p-1 text-white">Action</div>
                <div class="bg-secondary m-1 h6 p-1 text-white">RPG</div>
            </div>

            <div class="d-flex flex-wrap  h5">
                <div class="m-1 p-1"><s>74</s> 66 BYN</div>
                <div class="btn-group mx-auto mb-3  float-end">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить в список желаемого"><i class="fas fa-star"></i></button>
                    <button type="button" class="btn btn-success">В Корзину</button>
                </div>
            </div>

        </div>
    </div>

    @* БЛОК ЛИДЕРЫ ПРОДАЖ *@
    <div class="col-md-4">
        <h2 class="text-center  titleText shadow">Лидеры продаж</h2>
        <div class="game mt-5 mb-3 mx-auto borderS">

            <div class="text-center">
                <img src="~/img/gamesposters/2077.png" />
            </div>

            <div class="text-center">
                <h4><a asp-controller="Home" asp-action="GamePage" asp-route-gameId="" >Наименование игры</a></h4>
            </div>

            <div class="m-1">
                <p>Описание очень большое описание игры аааааа допустим вот такое игры модет даже больше</p>
            </div>

            <div class="d-flex flex-wrap">
                <div class="bg-secondary m-1 h6 p-1 text-white">Action</div>
                <div class="bg-secondary m-1 h6 p-1 text-white">RPG</div>
            </div>

            <div class="d-flex flex-wrap  h5">
                <div class="m-1 p-1"><s>74</s> 66 BYN</div>
                <div class="btn-group mx-auto mb-3  float-end">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить в список желаемого"><i class="fas fa-star"></i></button>
                    <button type="button" class="btn btn-success">В Корзину</button>
                </div>
            </div>

        </div>
    </div>

    @* БЛОК СКОРО ВЫЙДЕТ*@
    <div class="col-md-4">
        <h2 class="text-center  titleText shadow">Скоро выйдет</h2>
        <div class="game mt-5 mb-3 mx-auto borderS">

            <div class="text-center">
                <img src="~/img/gamesposters/2077.png" />
            </div>

            <div class="text-center">
                <h4><a href="#">Наименование игры</a></h4>
            </div>

            <div class="m-1">
                <p>Описание очень большое описание игры аааааа допустим вот такое игры модет даже больше</p>
            </div>

            <div class="d-flex flex-wrap">
                <div class="bg-secondary m-1 h6 p-1 text-white">Action</div>
                <div class="bg-secondary m-1 h6 p-1 text-white">RPG</div>
            </div>

            <div class="d-flex flex-wrap  h5">
              <p class="m-1">Дата выхода: 22.12.2025</p>
            </div>

        </div>

    </div>
</div>