html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*HEADER STYLE*/
div.logoArea {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
}

    div.logoArea p {
        display: inline-block;
        font-size: 40px;
    }

        div.logoArea p.logo {
            color: royalblue;
        }

    div.logoArea:hover p {
        color: royalblue;
    }

.nav-item a {
    font-size: 25px;
    transition: color 0.3s;
}

.nav-item:hover a {
    color: royalblue !important;
}

.borderS {
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
}

/*LOGIN & REG STYLE*/

div.loginRegArea {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    padding: 0.625rem;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
}

div.loginRegHeader {
    text-align: center;
}

.form-group {
    margin-top: 0.625rem;
}

/*VALIDATION STYLE*/
.validError {
    color: red;
    margin-left: 0.625rem;
}

/*PROFILE STYLE*/
.avatar, .userdata {
    margin-top: 1.25rem;
}

    .avatar img {
        width: 16.25rem;
        height: 15.625rem;
    }

.userdata {
    width: 100%;
}

.ordercart {
    width: 100%;
    margin-top: 1.25rem;
}

.ordergameinfo {
    width: 100%;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}

.s_gameposter img {
    width: 9.375rem;
    height: 11.25rem;
    border-radius: 0.625rem;
}

.s_gameinfo {
    margin-left: 0.625rem;
}


.centered-block {
    height: 50vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game {
    width: 35vh;
}

    .game:hover {
        box-shadow: 0 0 10px royalblue; /* shadow appears on hover */
    }

.titleText {
    position: sticky;
    top: 0; /* Отступ от верхней части экрана */
    background-color: white; /* Фон, чтобы заголовок был видимым */
    z-index: 1000; /* Убедитесь, что заголовок будет выше других элементов */
    background-color: #5a88ca;
}

.navbar {
    background-color: #5a88ca;
    border-radius: 0.625rem;
}


.gamePageMainInfo {
    position: sticky;
    top: 0; /* Отступ от верхней части экрана */
}

.promo-area {
    color: #fff;
    padding: 40px 0 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}



    .promo-area .zigzag-bottom, .zigzag-bottom {
    }

.single-promo {
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
    width: 262px;
    height: 172px;
    border-radius: 0.625rem;
}

    .single-promo i {
        font-size: 50px;
    }

    .single-promo:hover {
        color: #fff;
        background: #222;
    }

.promo1 {
    background: #5a88ca;
}

.promo2 {
    background: #CA5A88;
}

.promo3 {
    background: #fa8072;
}

.promo4 {
    background: #4abebd;
}

@media (max-width:767px) {
    .single-promo {
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        width: 100%;
        height: 140px;
    }

        .single-promo i {
            font-size: 50px;
        }
}
.singlegame-area {
    /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    background-color: white; /* Светлый фон для текста */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
}

.description-text {
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    line-height: 1.6; /* Увеличиваем межстрочный интервал */
    color: black; /* Цвет текста */
    margin: 0; /* Убираем отступы */
}

    .description-text::first-letter {
        font-size: 2em; /* Увеличиваем первую букву */
        font-weight: bold; /* Делаем первую букву жирной */
        color: #5a88ca; /* Цвет первой буквы */
    }

.bg-ganre {
    background-color: #4abebd;
}
.bg-platform {
    background-color: #CA5A88;
}

.mtxt {
    font-size: 1.2em; /* Увеличиваем размер шрифта */
}
    .mtxt div {
        font-weight: bold; /* Делаем первую букву жирной */
    }


.shopcart-area {
    margin: 0 auto; /* Центрируем контейнер */
    padding: 1.25rem;
   /* height: 34.375rem;*/
    max-height: 34.375rem;
    background-color: white; /* Светлый фон для текста */
    border-radius: 0.5rem; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
    width: 130vh;
    overflow-y: auto;
}
.shopcart-item {
    margin-top: 1.25rem;
    padding: 1.25rem;
}
.item-num {
    margin-right: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    font-weight: bold; /* Делаем первую букву жирной */
    margin-top: auto;
    margin-bottom: auto;
}

.item-img {
    padding-right: 1.25rem;
}
    .item-img img {
        width: 9.375rem;
        height: 10.625rem;
        border-radius: 0.5rem;
    }
.item-name, .item-platform, .item-price {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1.25rem;
    margin-right: auto;
    margin-left: auto;
}
.item-price {

    font-weight: bold; /* Делаем первую букву жирной */
}
.item-btn-control {
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
}

.btn-area {
    padding: 1.25rem;
    width: 130vh;
    margin: 0 auto; /* Центрируем контейнер */
}

.btn-manager-shopcart {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}