html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*HEADER STYLE*/
div.logoArea {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
}

    div.logoArea p {
        display: inline-block;
        font-size: 40px;
    }

        div.logoArea p.logo {
            color: royalblue;
        }

    div.logoArea:hover p {
        color: royalblue;
    }

.nav-item a {
    font-size: 25px;
    transition: color 0.3s;
}

.nav-item:hover a {
    color: royalblue !important;
}

.borderS {
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
}

/*LOGIN & REG STYLE*/

div.loginRegArea {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    padding: 0.625rem;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
}

div.loginRegHeader {
    text-align: center;
}

.form-group {
    margin-top: 0.625rem;
}

/*VALIDATION STYLE*/
.validError {
    color: red;
    margin-left: 0.625rem;
}

/*PROFILE STYLE*/
.avatar, .userdata {
    margin-top: 1.25rem;
}

    .avatar img {
        width: 16.25rem;
        height: 15.625rem;
    }

.userdata {
    width: 100%;
}

.ordercart {
    width: 100%;
    margin-top: 1.25rem;
}

.ordergameinfo {
    width: 100%;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}

.s_gameposter img {
    width: 9.375rem;
    height: 11.25rem;
    border-radius: 0.625rem;
}

.s_gameinfo {
    margin-left: 0.625rem;
}


.centered-block {
    height: 50vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game {
    width: 35vh;
}

    .game:hover {
        box-shadow: 0 0 10px royalblue; /* shadow appears on hover */
    }

.titleText {
    position: sticky;
    top: 0; /* Отступ от верхней части экрана */
    background-color: white; /* Фон, чтобы заголовок был видимым */
    z-index: 1000; /* Убедитесь, что заголовок будет выше других элементов */
    background-color: #5a88ca;
}

.navbar {
    background-color: #5a88ca;
    border-radius: 0.625rem;
}


.gamePageMainInfo {
    position: sticky;
    top: 0; /* Отступ от верхней части экрана */
}

.promo-area {
    color: #fff;
    padding: 40px 0 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}



    .promo-area .zigzag-bottom, .zigzag-bottom {
    }

.single-promo {
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
    width: 262px;
    height: 172px;
    border-radius: 0.625rem;
}

    .single-promo i {
        font-size: 50px;
    }

    .single-promo:hover {
        color: #fff;
        background: #222;
    }

.promo1 {
    background: #5a88ca;
}

.promo2 {
    background: #CA5A88;
}

.promo3 {
    background: #fa8072;
}

.promo4 {
    background: #4abebd;
}

@media (max-width:767px) {
    .single-promo {
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        width: 100%;
        height: 140px;
    }

        .single-promo i {
            font-size: 50px;
        }
}
.singlegame-area {
    /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    background-color: white; /* Светлый фон для текста */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
}

.description-text {
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    line-height: 1.6; /* Увеличиваем межстрочный интервал */
    color: black; /* Цвет текста */
    margin: 0; /* Убираем отступы */
}

    .description-text::first-letter {
        font-size: 2em; /* Увеличиваем первую букву */
        font-weight: bold; /* Делаем первую букву жирной */
        color: #5a88ca; /* Цвет первой буквы */
    }

.bg-ganre {
    background-color: #4abebd;
}
.bg-platform {
    background-color: #CA5A88;
}
.bg-glables {
    background-color: #fa8072;
}

.mtxt {
    font-size: 1.2em; /* Увеличиваем размер шрифта */
}
    .mtxt div {
        font-weight: bold; /* Делаем первую букву жирной */
    }


.shopcart-area {
    margin: 0 auto; /* Центрируем контейнер */
    padding: 1.25rem;
   /* height: 34.375rem;*/
    max-height: 34.375rem;
    background-color: white; /* Светлый фон для текста */
    border-radius: 0.5rem; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
    width: 130vh;
    overflow-y: auto;
}
.shopcart-item {
    margin-top: 1.25rem;
    padding: 1.25rem;
}
.item-num {
    margin-right: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    font-weight: bold; /* Делаем первую букву жирной */
    margin-top: auto;
    margin-bottom: auto;
}

.item-img {
    padding-right: 1.25rem;
}
    .item-img img {
        width: 9.375rem;
        height: 10.625rem;
        border-radius: 0.5rem;
    }
.item-name, .item-platform, .item-price {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1.25rem;
    margin-right: auto;
    margin-left: auto;
}
.item-price {

    font-weight: bold; /* Делаем первую букву жирной */
}
.item-btn-control {
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
}

.btn-area {
    padding: 1.25rem;
    width: 130vh;
    margin: 0 auto; /* Центрируем контейнер */
}

.btn-manager-shopcart {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.filtersgame-area {
    position: sticky;
    top: 0; /* Отступ от верхней части экрана */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    background-color: white; /* Светлый фон для текста */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
    font-size: 1.2em; /* Увеличиваем размер шрифта */
}

.filter-genre, .filter-develop, .filter-price, .filter-lable {
    width: 100%;
    margin-bottom: 1.25rem;
}

.search-area {
    position: relative;
    top: 0; /* Отступ от верхней части экрана */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    background-color: white; /* Светлый фон для текста */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    margin-bottom: 1.25rem;
    z-index: 2;
}

.games-area {
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    background-color: white; /* Светлый фон для текста */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    position: relative; /* Для корректного отображения */
    z-index: 1; /* Убедимся, что основной контент ниже #showSearch-area */
}

.gamesArea {
    display: flex;
    flex-wrap: wrap;
}

.card-header {
    background: #5a88ca;
}

.loader {
    width: 100px;
    height: 100px;
    position: relative;
}

    .loader div {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 8px solid transparent;
        border-top-color: #3498db;
        border-radius: 50%;
        animation: spin 1.5s linear infinite;
    }

        .loader div:nth-child(2) {
            border-top-color: #e74c3c;
            animation-delay: -0.75s;
        }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    display: none;
    text-align: center;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Имитация загрузки контента */
.loaded .loader {
    display: none;
}

.loaded .content {
    display: block;
}

.showSearch {
    position: absolute; /* Абсолютное позиционирование */
    top: 100%; /* Располагаем ниже поля ввода */
    left: 0;
    width: 100%; /* Ширина как у родителя */
    padding: 20px;
    background-color: white; /* Светлый фон для текста */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px #5a88ca; /* Тень для глубины */
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    margin-bottom: 1.25rem;
    z-index: 1000;
    max-height: 500px; /* Максимальная высота */
    overflow-y: auto; /* Добавляем скролл, если контент превышает высоту */
}

.custom-progress {
    height: 0.938rem; /* Уменьшаем высоту прогресс-бара */
    border-radius: 0.625rem; /* Уменьшаем радиус скругления */
    overflow: hidden;
}

    .custom-progress .progress-bar-positive {
        background-color: #28a745; /* Зелёный цвет */
    }

    .custom-progress .progress-bar-negative {
        background-color: #dc3545; /* Красный цвет */
    }

.legend {
    display: block;
    justify-content: center;
    margin-top: 0.625rem; /* Уменьшаем отступ сверху */
    font-size: 1.2rem; /* Уменьшаем размер шрифта */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 0.938rem; /* Уменьшаем отступ между элементами */
}

.legend-circle {
    width: 0.938rem; /* Уменьшаем размер кружка */
    height: 0.938rem;
    border-radius: 50%;
    margin-right: 0.938rem;
}

    .legend-circle.positive {
        background-color: #28a745; /* Зелёный цвет */
    }

    .legend-circle.negative {
        background-color: #dc3545; /* Красный цвет */
    }

.revUserAvatar img {
    width: 100px;
    height: 100px;
}

.reviewsTxt{
    font-size:15px;
    text-align:justify;
}