@{
    ViewData["Title"] = "Корзина";
}

<div class="row">
    <h1>Корзина</h1>
</div>

<div class="row">
    <div class="shopcart-area">

        <div class="shopcart-item d-flex description-text borderS mx-auto">
            <div class="item-num">1</div>
            <div class="item-img">
                <img src="~/img/gamesposters/2077.png" />
            </div>
            <div class="item-name">
                <a href="#">Cyberpunk 2077</a>
            </div>
            <div class="item-platform">Steam</div>
            <div class="item-price">60 BYN</div>
            <div class="item-btn-control">
               <button type="button" class="btn btn-lg btn-outline-danger">Удалить из корзины</button>
            </div>
        </div>

        <div class="shopcart-item d-flex description-text borderS mx-auto">
            <div class="item-num">1</div>
            <div class="item-img">
                <img src="~/img/gamesposters/2077.png" />
            </div>
            <div class="item-name">
                <a href="#">Cyberpunk 2077</a>
            </div>
            <div class="item-platform">Steam</div>
            <div class="item-price">60 BYN</div>
            <div class="item-btn-control">
                <button type="button" class="btn btn-lg btn-outline-danger">Удалить из корзины</button>
            </div>
        </div>

        <div class="shopcart-item d-flex description-text borderS mx-auto">
            <div class="item-num">1</div>
            <div class="item-img">
                <img src="~/img/gamesposters/2077.png" />
            </div>
            <div class="item-name">
                <a href="#">Cyberpunk 2077</a>
            </div>
            <div class="item-platform">Steam</div>
            <div class="item-price">60 BYN</div>
            <div class="item-btn-control">
                <button type="button" class="btn btn-lg btn-outline-danger">Удалить из корзины</button>
            </div>
        </div>

    </div>
</div>
