@{
    string method = ViewContext.RouteData.Values["action"].ToString();
    bool isIndex = (method.Contains("Index"));
    bool isCatalog = (method.Contains("Catalog"));
    bool isDiscounts = (method.Contains("Discounts"));
    bool isSupport = (method.Contains("Support"));

}

<nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary borderS m-2 h4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <!-- Добавляем класс me-auto для выравнивания -->
                <a class="nav-link @((isIndex) ? "active" : "")" asp-controller="Home" asp-action="Index">Главная</a>
                <a class="nav-link @((isCatalog) ? "active" : "")" asp-controller="Home" asp-action="Catalog">Каталог</a>
                <a class="nav-link @((isDiscounts) ? "active" : "")" asp-controller="Home" asp-action="Discounts">Скидки</a>
                <a class="nav-link @((isSupport) ? "active" : "")" asp-controller="Home" asp-action="Support">Поддержка</a>
            </div>
             @* <form class="d-flex">
                 <input class="form-control w-auto" type="search" placeholder="Найти игру (Функция в разработке...)" aria-label="Search">
             </form> *@
        </div>
    </div>
</nav>